<a href="https://colab.research.google.com/github/dhqm12/machinelearning/blob/main/crawling_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import requests
import pandas as pd

In [ ]:
#웹서비스 분석: url찾기
page_size, page = 10, 1

url =  'https://m.stock.naver.com/api/index/KOSPI/price?pageSize={}&page={}'.format(page_size, page)


print(url)

https://m.stock.naver.com/api/index/KOSPI/price?pageSize=10&page=1

In [ ]:
#2. request, response: Jason

In [ ]:
response =requests.get(url)
response

In [ ]:
type(response.text)

str

In [ ]:
data = response.json() #딕셔너리 데이터로 파싱

In [ ]:
kospi_df = pd.DataFrame(data)

In [ ]:
kospi_df.set_index('localTradedAt', inplace =True)#인덱스 설정은 set_index

In [ ]:
kospi_df

,closePrice,compareToPreviousClosePrice,compareToPreviousPrice,fluctuationsRatio,openPrice,highPrice,lowPrice
localTradedAt,,,,,,,
2021-10-08,"2,956.30",-3.16,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.11,"2,977.82","2,978.08","2,949.01"
2021-10-07,"2,959.46",51.15,"{'code': '2', 'text': '상승', 'name': 'RISING'}",1.76,"2,936.87","2,961.53","2,927.60"
2021-10-06,"2,908.31",-53.86,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.82,"2,986.06","2,993.47","2,908.30"
2021-10-05,"2,962.17",-57.01,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.89,"2,998.17","2,998.17","2,940.59"
2021-10-01,"3,019.18",-49.64,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.62,"3,056.21","3,062.60","3,015.01"
2021-09-30,"3,068.82",8.55,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.28,"3,054.87","3,079.43","3,046.43"
2021-09-29,"3,060.27",-37.65,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.22,"3,055.50","3,069.04","3,030.60"
2021-09-28,"3,097.92",-35.72,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.14,"3,133.40","3,134.46","3,095.72"
2021-09-27,"3,133.64",8.40,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.27,"3,121.70","3,146.35","3,119.26"
2021-09-24,"3,125.24",-2.34,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.07,"3,140.73","3,146.86","3,119.40"

In [ ]:
#함수만들기

def get_stock_data(code, page_size=20 , page=1):
    url =  'https://m.stock.naver.com/api/index/{}/price?pageSize={}&page={}'.format(code, page_size, page)
    response = requests.get(url)
    datas = response.json()
    return pd.DataFrame(datas)

In [ ]:
kospii_df =get_stock_data('KOSPI', 60)
kospii_df.tail(2)

,localTradedAt,closePrice,compareToPreviousClosePrice,compareToPreviousPrice,fluctuationsRatio,openPrice,highPrice,lowPrice
58,2021-07-13,"3,271.38",24.91,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.77,"3,253.24","3,273.90","3,253.24"
59,2021-07-12,"3,246.47",28.52,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.89,"3,227.51","3,251.45","3,227.51"

In [ ]:
kosdaq_df = get_stock_data('KOSDAQ', 60)

<h1>환율

In [ ]:
#1웹페이지분석
page_size, page = 60, 1 
url ='https://api.stock.naver.com/marketindex/exchange/FX_USDKRW/prices?page={}&pageSize={}'.format(page_size, page)
print(url)

https://api.stock.naver.com/marketindex/exchange/FX_USDKRW/prices?page=60&pageSize=1

In [ ]:
#requests, responds:Jason

In [ ]:
requests.get(url)

In [ ]:
data1 = response.json()

In [ ]:
krw_df =pd.DataFrame(data1)

In [ ]:
krw_df.set_index('localTradedAt')

,closePrice,compareToPreviousClosePrice,compareToPreviousPrice,fluctuationsRatio,openPrice,highPrice,lowPrice
localTradedAt,,,,,,,
2021-10-08,"2,956.30",-3.16,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.11,"2,977.82","2,978.08","2,949.01"
2021-10-07,"2,959.46",51.15,"{'code': '2', 'text': '상승', 'name': 'RISING'}",1.76,"2,936.87","2,961.53","2,927.60"
2021-10-06,"2,908.31",-53.86,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.82,"2,986.06","2,993.47","2,908.30"
2021-10-05,"2,962.17",-57.01,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.89,"2,998.17","2,998.17","2,940.59"
2021-10-01,"3,019.18",-49.64,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.62,"3,056.21","3,062.60","3,015.01"
2021-09-30,"3,068.82",8.55,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.28,"3,054.87","3,079.43","3,046.43"
2021-09-29,"3,060.27",-37.65,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.22,"3,055.50","3,069.04","3,030.60"
2021-09-28,"3,097.92",-35.72,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-1.14,"3,133.40","3,134.46","3,095.72"
2021-09-27,"3,133.64",8.40,"{'code': '2', 'text': '상승', 'name': 'RISING'}",0.27,"3,121.70","3,146.35","3,119.26"
2021-09-24,"3,125.24",-2.34,"{'code': '5', 'text': '하락', 'name': 'FALLING'}",-0.07,"3,140.73","3,146.86","3,119.40"

In [ ]:
print(krw_df['localTradedAt'].values)

['2021-10-08' '2021-10-07' '2021-10-06' '2021-10-05' '2021-10-01'
 '2021-09-30' '2021-09-29' '2021-09-28' '2021-09-27' '2021-09-24']

In [ ]:
print(kospii_df['localTradedAt'].values)

['2021-10-08' '2021-10-07' '2021-10-06' '2021-10-05' '2021-10-01'
 '2021-09-30' '2021-09-29' '2021-09-28' '2021-09-27' '2021-09-24'
 '2021-09-23' '2021-09-17' '2021-09-16' '2021-09-15' '2021-09-14'
 '2021-09-13' '2021-09-10' '2021-09-09' '2021-09-08' '2021-09-07'
 '2021-09-06' '2021-09-03' '2021-09-02' '2021-09-01' '2021-08-31'
 '2021-08-30' '2021-08-27' '2021-08-26' '2021-08-25' '2021-08-24'
 '2021-08-23' '2021-08-20' '2021-08-19' '2021-08-18' '2021-08-17'
 '2021-08-13' '2021-08-12' '2021-08-11' '2021-08-10' '2021-08-09'
 '2021-08-06' '2021-08-05' '2021-08-04' '2021-08-03' '2021-08-02'
 '2021-07-30' '2021-07-29' '2021-07-28' '2021-07-27' '2021-07-26'
 '2021-07-23' '2021-07-22' '2021-07-21' '2021-07-20' '2021-07-19'
 '2021-07-16' '2021-07-15' '2021-07-14' '2021-07-13' '2021-07-12']

In [ ]:
def get_stock_usd(page_size=20 , page=1):
    url =  'https://api.stock.naver.com/marketindex/exchange/FX_USDKRW/prices?page={}&pageSize={}'.format(page_size, page)
    response = requests.get(url)
    datas = response.json()
    return pd.DataFrame(datas)

In [ ]:
usd_df = get_stock_usd(1, 100)

In [ ]:
usd_df.tail(2)

,localTradedAt,closePrice,fluctuations,fluctuationsRatio,fluctuationsType,cashBuyValue,cashSellValue,sendValue,receiveValue
98,2021-05-17,"1,138.00",8.50,0.75,"{'code': '2', 'text': '상승', 'name': 'RISING'}","1,157.91","1,118.09","1,149.10","1,126.90"
99,2021-05-14,"1,129.50",-4.00,-0.35,"{'code': '5', 'text': '하락', 'name': 'FALLING'}","1,149.26","1,109.74","1,140.50","1,118.50"

In [ ]:
#데이터합치기

In [ ]:
merge_df_1 = pd.merge(kospi_df, kosdaq_df, left_on="dt", right_on="dt")
merge_df_1 = merge_df_1.rename(columns={"ncv_x": "ncv_kospi", "ncv_y": "ncv_kosdaq"})
merge_df_1 = merge_df_1[["dt", "ncv_kospi", "ncv_kosdaq"]]


merge_df_1.tail(2)

KeyError: 'dt'

In [ ]:
pip install pyfolio

DEPRECATION: Configuring installation scheme with distutils config files is deprecated and will no longer work in the near future. If you are using a Homebrew or Linuxbrew Python, please see discussion at https://github.com/Homebrew/homebrew-core/issues/76621
Requirement already satisfied: pyfolio in /opt/homebrew/lib/python3.9/site-packages (0.9.2)
Requirement already satisfied: pandas>=0.18.1 in /opt/homebrew/lib/python3.9/site-packages (from pyfolio) (1.3.3)
Requirement already satisfied: numpy>=1.11.1 in /opt/homebrew/lib/python3.9/site-packages (from pyfolio) (1.21.2)
Requirement already satisfied: pytz>=2014.10 in /opt/homebrew/lib/python3.9/site-packages (from pyfolio) (2021.1)
Requirement already satisfied: seaborn>=0.7.1 in /opt/homebrew/lib/python3.9/site-packages (from pyfolio) (0.11.2)
Requirement already satisfied: empyrical>=0.5.0 in /opt/homebrew/lib/python3.9/site-packages (from pyfolio) (0.5.5)
Requirement already satisfied: matplotlib>=1.4.0 in /opt/homebrew/lib/python3.9/site-packages (from pyfolio) (3.4.3)
Requirement already satisfied: scipy>=0.14.0 in /opt/homebrew/lib/python3.9/site-packages (from pyfolio) (1.7.1)
Requirement already satisfied: ipython>=3.2.3 in /opt/homebrew/lib/python3.9/site-packages (from pyfolio) (7.27.0)
Requirement already satisfied: scikit-learn>=0.16.1 in /opt/homebrew/lib/python3.9/site-packages (from pyfolio) (1.0)
Requirement already satisfied: pandas-datareader>=0.2 in /opt/homebrew/lib/python3.9/site-packages (from empyrical>=0.5.0->pyfolio) (0.10.0)
Requirement already satisfied: setuptools>=18.5 in /opt/homebrew/lib/python3.9/site-packages (from ipython>=3.2.3->pyfolio) (58.1.0)
Requirement already satisfied: traitlets>=4.2 in /opt/homebrew/lib/python3.9/site-packages (from ipython>=3.2.3->pyfolio) (5.1.0)
Requirement already satisfied: decorator in /opt/homebrew/lib/python3.9/site-packages (from ipython>=3.2.3->pyfolio) (5.1.0)
Requirement already satisfied: matplotlib-inline in /opt/homebrew/lib/python3.9/site-packages (from ipython>=3.2.3->pyfolio) (0.1.3)
Requirement already satisfied: appnope in /opt/homebrew/lib/python3.9/site-packages (from ipython>=3.2.3->pyfolio) (0.1.2)
Requirement already satisfied: pickleshare in /opt/homebrew/lib/python3.9/site-packages (from ipython>=3.2.3->pyfolio) (0.7.5)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /opt/homebrew/lib/python3.9/site-packages (from ipython>=3.2.3->pyfolio) (3.0.20)
Requirement already satisfied: pygments in /opt/homebrew/lib/python3.9/site-packages (from ipython>=3.2.3->pyfolio) (2.10.0)
Requirement already satisfied: backcall in /opt/homebrew/lib/python3.9/site-packages (from ipython>=3.2.3->pyfolio) (0.2.0)
Requirement already satisfied: pexpect>4.3 in /opt/homebrew/lib/python3.9/site-packages (from ipython>=3.2.3->pyfolio) (4.8.0)
Requirement already satisfied: jedi>=0.16 in /opt/homebrew/lib/python3.9/site-packages (from ipython>=3.2.3->pyfolio) (0.18.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in /opt/homebrew/lib/python3.9/site-packages (from jedi>=0.16->ipython>=3.2.3->pyfolio) (0.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in /opt/homebrew/lib/python3.9/site-packages (from matplotlib>=1.4.0->pyfolio) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /opt/homebrew/lib/python3.9/site-packages (from matplotlib>=1.4.0->pyfolio) (0.10.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /opt/homebrew/lib/python3.9/site-packages (from matplotlib>=1.4.0->pyfolio) (1.3.2)
Requirement already satisfied: pillow>=6.2.0 in /opt/homebrew/lib/python3.9/site-packages (from matplotlib>=1.4.0->pyfolio) (8.3.2)
Requirement already satisfied: python-dateutil>=2.7 in /opt/homebrew/lib/python3.9/site-packages (from matplotlib>=1.4.0->pyfolio) (2.8.2)
Requirement already satisfied: six in /opt/homebrew/lib/python3.9/site-packages (from cycler>=0.10->matplotlib>=1.4.0->pyfolio) (1.16.0)
Requirement already satisfied: requests>=2.19.0 in /opt/homebrew/lib/python3.9/site-packages (from pandas-datareader>=0.2->empyrical>=0.5.0->pyfolio) (2.26.0)
Requirement already satisfied: lxml in /opt/homebrew/lib/python3.9/site-packages (from pandas-datareader>=0.2->empyrical>=0.5.0->pyfolio) (4.6.3)
Requirement already satisfied: ptyprocess>=0.5 in /opt/homebrew/lib/python3.9/site-packages (from pexpect>4.3->ipython>=3.2.3->pyfolio) (0.7.0)
Requirement already satisfied: wcwidth in /opt/homebrew/lib/python3.9/site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=3.2.3->pyfolio) (0.2.5)
Requirement already satisfied: certifi>=2017.4.17 in /opt/homebrew/lib/python3.9/site-packages (from requests>=2.19.0->pandas-datareader>=0.2->empyrical>=0.5.0->pyfolio) (2021.5.30)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/homebrew/lib/python3.9/site-packages (from requests>=2.19.0->pandas-datareader>=0.2->empyrical>=0.5.0->pyfolio) (1.26.6)
Requirement already satisfied: charset-normalizer~=2.0.0 in /opt/homebrew/lib/python3.9/site-packages (from requests>=2.19.0->pandas-datareader>=0.2->empyrical>=0.5.0->pyfolio) (2.0.6)
Requirement already satisfied: idna<4,>=2.5 in /opt/homebrew/lib/python3.9/site-packages (from requests>=2.19.0->pandas-datareader>=0.2->empyrical>=0.5.0->pyfolio) (3.2)
Requirement already satisfied: joblib>=0.11 in /opt/homebrew/lib/python3.9/site-packages (from scikit-learn>=0.16.1->pyfolio) (1.0.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /opt/homebrew/lib/python3.9/site-packages (from scikit-learn>=0.16.1->pyfolio) (3.0.0)
Note: you may need to restart the kernel to use updated packages.